# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# SQL/visual studio prefs crap
*.sdf
*.opensdf
*.suo

DELETE
[Dd]ebug
[Bb]in
[Bb]inary


