# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# SQL/visual studio prefs crap
*.sdf
*.opensdf
*.suo

BoatsNShadHoes/DELETE/
BoatsNShadHoes/Debug/
[Bb]in
[Bb]inary


